.button-icon-left {
    padding-right: $spacing-03;
}
.button-overrides {
    @include type18Regular;
    height: 58px;
    .mat-button-wrapper:not(.mat-icon) {
        font-family: $fontFamily;
    }
}
.button-grey {
    background-color: $grey200;
    color: $grey900;
}
.button-shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
