$primary50: #ffebee;
$primary100: #ffced4;
$primary200: #ffadb8;
$primary300: #ff8c9b;
$primary400: #ff7385;
$primary500: #ff5a70;
$primary600: #ff5268;
$primary700: #ff485d;
$primary800: #ff3f53;
$primary900: #ff2e41;

$primary500SVG: invert(54%) sepia(24%) saturate(5481%) hue-rotate(318deg)
    brightness(100%) contrast(104%);

$backgroundColor: #f9f9f9;

$grey200: #ebebeb;
$grey400: #898989;
$grey900: #1c0b11;

$grey400SVG: invert(59%) sepia(0%) saturate(99%) hue-rotate(168deg)
    brightness(91%) contrast(92%);

$whiteSVG: invert(100%) sepia(86%) saturate(0%) hue-rotate(91deg)
    brightness(112%) contrast(100%);
