@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

@mixin type18Regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 133%;
    letter-spacing: 0.18px;
}

@mixin type32Bold {
    font-size: 32px;
    font-weight: 700;
    line-height: 112%;
}

@mixin type16regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
