<main>
    <section class="content">
        <h2>Contracts for Caique</h2>
        <div class="filters">
            <div class="filters__row first-row">
                <!-- <app-input-text
                    label="Contractor Name"
                    icon="search"
                    [formControl]="nameSearch"
                ></app-input-text> -->
                <mat-form-field appearance="outline" class="ontop-form-field">
                    <mat-label>Contractor Name</mat-label>
                    <input matInput [formControl]="filterName" />
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>

                <button
                    mat-flat-button
                    color="primary"
                    class="button-overrides button-shadow"
                >
                    <mat-icon>add</mat-icon> New Hire
                </button>

                <button
                    mat-flat-button
                    class="button-overrides button-grey"
                    (click)="filtersSwitch()"
                >
                    <mat-icon>tune</mat-icon> Filters
                    <mat-icon>{{
                        showFilters ? 'expand_less' : 'expand_more'
                    }}</mat-icon>
                </button>
            </div>
            <div
                class="filters__row second-row"
                [ngClass]="{ show: showFilters }"
            >
                <app-datepicker
                    label="Select a date range"
                    (dateSelection)="filterByRange($event)"
                    [startDate]="startDate"
                    [endDate]="endDate"
                ></app-datepicker>

                <app-dropdown
                    label="Contract Type"
                    [values]="contractTypes"
                    [(value)]="filterContractType"
                    (valueChange)="filterByContractType()"
                ></app-dropdown>

                <app-dropdown
                    label="Status"
                    [values]="clientStatus"
                    [(value)]="filterStatus"
                    (valueChange)="filterByStatus()"
                ></app-dropdown>

                <button
                    mat-flat-button
                    class="button-overrides button-grey"
                    (click)="clearFilters()"
                >
                    Clear
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <div
            class="table-container"
            [ngClass]="{ 'filters-open': showFilters }"
        >
            <app-table [data]="dataSource" [columns]="tableColumns"></app-table>
        </div>
    </section>
</main>
