<header>
    <ul>
        <li class="logo">
            <img src="assets/ontop_logo.svg" alt="Ontop's logo" />
        </li>
        <li class="active">
            <a href=""
                ><img
                    src="assets/icons/user.svg"
                    alt="person icon"
                    class="button-icon-left icon"
                />
                Contracts</a
            >
        </li>
        <li>
            <a href=""
                ><img
                    src="assets/icons/document.svg"
                    alt="document icon"
                    class="button-icon-left icon"
                />Documents</a
            >
        </li>
        <li>
            <a href=""
                ><img
                    src="assets/icons/credit_card.svg"
                    alt="credit card icon"
                    class="button-icon-left icon"
                />Payout</a
            >
        </li>
        <li>
            <a href=""
                ><img
                    src="assets/icons/calendar.svg"
                    alt="calendar icon"
                    class="button-icon-left icon"
                />Time</a
            >
        </li>
        <li class="user">
            <app-user-menu></app-user-menu>
        </li>
    </ul>
</header>
