<header>
    <ul class="desktop-nav">
        <li class="logo">
            <img src="assets/ontop_logo.svg" alt="Ontop's logo" />
        </li>
        <ng-container *ngFor="let menuItem of menuItems">
            <li
                [ngClass]="{
                    'active nav-item': menuItem.selected,
                    'nav-item': menuItem.label
                }"
            >
                <a
                    ><img
                        src="assets/icons/{{ menuItem.icon }}"
                        class="button-icon-left icon"
                    />
                    {{ menuItem.label }}</a
                >
            </li>
        </ng-container>
        <li class="user nav-item">
            <app-user-menu></app-user-menu>
        </li>
        <li
            class="hamburguer-menu__toggle"
            (click)="toggleHamburguerMenu()"
            [ngClass]="{
                'active-hamburguer-menu': showHamburguerMenu
            }"
        >
            <span></span>
            <span></span>
            <span></span>
        </li>
    </ul>
    <ul
        class="hamburguer-menu"
        [ngClass]="{
            'active-hamburguer-menu': showHamburguerMenu
        }"
    >
        <li *ngFor="let menuItem of menuItems">
            <a
                ><img
                    src="assets/icons/{{ menuItem.icon }}"
                    class="button-icon-left icon"
                />
                {{ menuItem.label }}</a
            >
        </li>
    </ul>
</header>
