<mat-dialog-content>
    <mat-list role="list" class="mobile-context-menu">
        <mat-list-item role="listitem"
            ><button
                mat-stroked-button
                color="basic"
                class="mobile-dialog-menu-button button-overrides button-shadow context-menu"
            >
                <img src="assets/icons/edit.svg" /> Edit
            </button></mat-list-item
        >
        <mat-list-item role="listitem"
            ><button
                mat-stroked-button
                color="basic"
                class="mobile-dialog-menu-button button-overrides button-shadow context-menu"
            >
                <img src="assets/icons/signature.svg" /> Sign
            </button></mat-list-item
        >
        <mat-list-item role="listitem"
            ><button
                mat-stroked-button
                color="basic"
                class="mobile-dialog-menu-button button-overrides button-shadow context-menu"
            >
                <img src="assets/icons/document.svg" /> View summary
            </button></mat-list-item
        >
        <mat-list-item role="listitem"
            ><button
                mat-stroked-button
                color="basic"
                class="mobile-dialog-menu-button button-overrides button-shadow context-menu"
            >
                <img src="assets/icons/trash.svg" /> Delete
            </button></mat-list-item
        >
    </mat-list>
</mat-dialog-content>
